*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
  width: 100%;
  object-fit: cover;
  position: sticky;
  height: 100vh;
  top: 0px;
  z-index: -1;
}

.title{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1em;
    padding: 1em;
    backdrop-filter: 1px;

    gap: 1em;
    background-color: #ffffff70;
}

.image_logo{
    width: 5em;
}

.button {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  min-height: 60px;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 100%;
  text-decoration: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

