@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.barra_jogador {
  position: fixed;
  bottom: 1em;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
  height: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  background: rgba(255, 255, 255, 0.288);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.camera {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 1.5em;

  color: black;
}

#label-container > div {
  margin-bottom: 0.4em;
}

.status_jogador {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  font-size: 1.2em;
}

.atributo {
  width: 8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em;
  border: 0.1em solid black;
  border-radius: 0.5em;

  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.atributo > span {
  align-self: center;
  color: white;
}

.entidades {
  width: 90%;
  height: 25em;
  margin: 0 auto;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.jogador {
  height: 120px;
  width: 120px;
  margin-top: 8em;
  position: relative;
}

.jogador::after {
  content: "";

  position: absolute;
  bottom: -0.5em;
  left: 46%;
  transform: translateX(-50%);

  width: 70px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  z-index: -1;
}

.playerImage {
  width: 100%;
}

.escudo_inimigo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
}
.defendingPlayer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
}
.inimigos {
  width: 40em;
  height: 25em;
  padding-top: 12em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
}

.inimigo {
  height: 10em;
  width: 10em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.vida_inimigo {
  margin-left: 6.5em;
  width: 4em;
  border-radius: 10em;
  border: 0.15em solid green;
  background-color: #1a1a1a;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inimigo::after {
  content: "";

  position: absolute;
  bottom: 1.4em;
  left: 42%;
  transform: translateX(-50%);

  width: 70px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  z-index: -1;
}

.imagem_inimigo {
  width: 85%;
}

.jogadorAtacando {
  animation: jogadorAtacando 1s ease-in;
}

@keyframes jogadorAtacando {
  50% {
    transform: translateX(20em);
  }
  100% {
    transform: translateX(0);
  }
}

.inimigoAtacando {
  animation: inimigoAtacando 1.5s ease-in;
}

@keyframes inimigoAtacando {
  50% {
    transform: translateX(-22em);
  }
  100% {
    transform: translateX(0);
  }
}

.healthPlayer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hide {
  display: none;
}

.especialPlayer {
  width: 30em;
  position: absolute;
  top: 50%;
  right: -20em;
  transform: translateY(-50%);
}
.attackPlayer{
  width: 10em;
  position: absolute;
  top: 50%;
  right: -15em;
  transform: translateY(-50%);
}

.jogadorEspecial {
  animation: jogadorEspecial 1.5s ease-in;
}
@keyframes jogadorEspecial {
  25% {
    transform: translateX(20em);
  }
  50% {
    transform: translateX(20em);
  }
  75% {
    transform: translateX(20em);
  }
  100% {
    transform: translateX(0);
  }
}

.button {
  background-color: #1a1a1a;
  border: 2px solid #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  min-height: 60px;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  z-index: -5;
}

.background__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: blur(2px);
}
